# fly.toml app configuration file generated for tapcart-block-builder-run-dev-service on 2026-01-02T05:39:57Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'tapcart-block-builder-run-dev-service'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 3002
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
